@media screen and (max-width:576px) {
    .nav-bar{
        width: 100%;
    }
    .banner{
        width: 100%;
        flex-direction: column;
    }
    .banner-part-1{
        width: 90%;
        margin: auto;
    }
    .banner-skills{
        text-align: center;
    }
    .banner-des{
        text-align: center;
    }
    .banner-social-media{
        margin: auto;
        flex-wrap: wrap;
    }
    .banner-part-2{
        width: 90%;
    }
    .banner-part-2 img{
        width: 100%;
        padding-top: 35px;
        margin: auto;
    }
    .portfolio-containers{
        flex-direction: column;
    }
    .skills-containers{
        flex-direction: column;
        width: 100%;
    }
    .skills-containers{
        width: 100%;
        margin: auto;
    }
    .skill-container h1,p{
        text-align: center;
    }
    .skill-topic{
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        margin: auto;
    }
}