.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    color: aliceblue;
}

header {
    width: 100%;
}

.nav-bar {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
}

.nav-option {
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    /* gap: 20px; */
    background: black;
}

.banner {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    gap: 10px;
}

.banner-part-1 {
    width: 50%;
}

.banner-headLine {
    font-size: 70px;
}

.banner-skills {
    font-size: 23px;
}

.banner-des {
    font-size: 19px;
}

.banner-part-2 {
    width: 40%;
    display: flex;
    justify-content: right;
}
.banner-part-2 img{
    width: 70%; height: 90%
}
.banner-social-media {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 80%;
}

.portfolio-containers {
    display: flex;
    width: 80%;
    margin: auto;
    padding:10px;
    border: 1px solid #0dcaf0;
    margin-top: 50px;
}

.portfolio-container {
    width: 50%;
}

.portfolio-technologies {
    display: flex;
    justify-content: space-evenly;
}

.portfolio-technologies-btn {
    background: #0dcaf0;
    color: aliceblue;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.skills {
    padding-top: 50px;
    padding-bottom: 75px;
}

.skills-containers {
    width: 80%;
    display: flex;
    margin: auto;
    padding-top: 50px;
    align-items: center;
}

.skills-container {
    width: 50%;
}
.skill-topic{
    display: flex;
     gap: 5px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: auto;
    border: 1px solid #0dcaf0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.form input,.form textarea{
    background: white;
}
#contact-name {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#contact-email {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    padding: 10px;
}

#contact-message {
    text-align: center;
    margin-bottom: 10px;
}

.footer-social-media {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

